.container {
  display: flex;
  gap: 20px;
  padding: 0 5%;
  flex-direction: column;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: var(--fs-2xl);
    }

    span {
      display: flex;
      gap: 5px;
      cursor: pointer;
      color: var(--grey);
      align-items: center;
      font-size: var(--fs-md);

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .movies {
    display: grid;
    gap: 20px;
    margin-top: 25px;
    grid-template-columns: repeat(5, 1fr);
  }
}
