.container {
  display: grid;
  gap: 30px;
  height: 95vh;
  padding: 0 10%;
  align-items: center;
  grid-template-columns: 1fr 5fr;
}

.right {
  display: flex;
  gap: 20px;
  flex-direction: column;
  .checkout-btn {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 100px;
  }
}
