.Roboto {
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-normal);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  font-family: "Roboto";
  color: var(--white);
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden auto;
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  text-transform: none;
}

a {
  cursor: pointer;
}
