:root {
  --fs-sm: 10px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 28px;
  --fs-4xl: 32px;
  --fs-5xl: 48px;
  --fs-6xl: 55px;

  --fw-thin: 400;
  --fw-normal: 500;
  --fw-medium: 550;
  --fw-bold: 600;
  --fw-bolder: 900;

  --ff-primary: "Roboto, sans-serif";

  --border-radius: 5px;

  --red: #da2343;
  --white: #ffffff;
  --dark: #12161c;
  --black: #000000;
  --primary: #1e1e1e;
  --grey: #99a1af;
  --secondary-dark: #1e2939;
  --light-red: rgb(218, 35, 67, 0.1);
  --medium-red: rgb(218, 35, 67, 0.5);
}
